.fade-in {
	animation: fadeIn 1s ease-out 1s forwards;
	animation-delay: 3s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 1s ease-out forwards;
}
.nav-active a {
	text-decoration: none;
}

.dots {
	display: none;
	position: absolute;
	width: 50px;
	bottom: 18px;
	animation: fadeIn 1s ease-out forwards;
}

.nav-active .dots {
	display: flex;
	justify-content: space-evenly;
}

.dot {
	width: 0;
	height: 0;
	border-radius: 50%;
}
.hover-animation {
	background-color: rgba(171, 162, 162, 0.3);
}

.section-anim {
	font-weight: bold;
	padding: 2px;
	transition: 0.3s;
}
.section-anim:hover {
transform: translateY(-7px);
}
.popup-anim {
	transition: 0.3s;
}
/* .hover-animation {
	padding: 5px;
	border: 0 solid teal;
	border-radius: 25px;
	background-color: rgb(209 213 219);
} */
.scaleClass:hover {
	opacity: 0.9;
	transition: 0.3s;
}
/* .hover-animation:hover {
	border-radius: 25px;
	background-color: rgba(238, 241, 245, 0.366);
	box-shadow: 0 0 5px 3px teal;
	transition: 0.3s;
} */
@media (min-width: 768px) {
	.dot {
		width: 6px;
		height: 6px;
	}
}
