.fade-in {
	animation: fadeIn 1s ease-out 1s forwards;
	animation-delay: 3s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 1s ease-out forwards;
}
.nav-active a {
	text-decoration: none;
}

.dots {
	display: none;
	position: absolute;
	width: 50px;
	bottom: 18px;
	animation: fadeIn 1s ease-out forwards;
}

.nav-active .dots {
	display: flex;
	justify-content: space-evenly;
}

.dot {
	width: 0;
	height: 0;
	border-radius: 50%;
}
.hover-animation {
	background-color: rgba(171, 162, 162, 0.3);
}

.section-anim {
	--b: 0.1em; /* the thickness of the line */
	--c: #240fc7; /* the color */
	font-weight: bold;

	color: #ffffff00;
	padding-block: var(--b);
	background: linear-gradient(var(--c) 50%, #ffffff 0) 0%
			calc(100% - var(--_p, 0%)) / 100% 200%,
		linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
			no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.3s var(--_s, 0s) linear,
		background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.section-anim:hover {
	--_p: 100%;
	--_s: 0.3s;
}
.hover-animation {
	padding: 5px;
	border: 0 solid teal;
	border-radius: 25px;
	background-color: rgb(209 213 219);
}
.scaleClass:hover {
	opacity: 0.9;
	transition: 0.3s;
}
.hover-animation:hover {
	border-radius: 25px;
	background-color: rgba(238, 241, 245, 0.366);
	box-shadow: 0 0 5px 3px teal;
	transition: 0.3s;
}

@media (min-width: 768px) {
	.dot {
		width: 6px;
		height: 6px;
	}
}
